<header class="header">
  <div class="header-container">
    <div class="logo">
      <h1>EcoMarket</h1>
    </div>
    <nav class="nav-links">
      <a [routerLink]="['/admin/vista']" *ngIf="isAdmin" >Admin</a>
      <a href="#">Home</a>
      <a href="#">Categorías</a>
      <a [routerLink]="['/vender-seleccion']">Vender</a>
      <!-- Mostrar enlaces de registro/inicio solo si el usuario NO está autenticado -->
      <ng-container *ngIf="!isAuthenticated">
        <a [routerLink]="['/registro-usuario']">Crear Cuenta</a>
        <a routerLink="/login-usuario">Ingresar</a>
      </ng-container>
    </nav>
    <div class="container-search-icons">
      <div class="search-bar">
        <input type="text" placeholder="Buscar productos" />
        <button><i class="fa fa-search"></i></button>
      </div>
      <div class="icons">
        <i class="fa fa-heart"></i>
        <span class="fa fa-shopping-cart" (click)="onClickGoCarrito()">🛒</span>
        <span class="fa fa-bell" (click)="onClickGoNotificacion()">🔔</span>
      </div>
      <!-- Mostrar la imagen de perfil solo si el usuario está autenticado -->
      <div *ngIf="isAuthenticated" class="profile-picture">
        <img [src]="profilePictureUrl" alt="Imagen de perfil" (click)="irAEditarPerfil()">
      </div>
      <!-- Botón de log out, solo visible si el usuario está autenticado -->
      <button *ngIf="isAuthenticated" (click)="logOut()" class="logout-btn">Log Out</button>
    </div>
  </div>
</header>