.formulario-producto {
    background-color: #f4f0fa;
    padding: 30px;
    border-radius: 10px;
    max-width: 450px;
    /* Ajustado el ancho */
    margin: 0 auto;
    text-align: left;
}

.formulario-producto h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
}

.formulario-producto p {
    font-size: 1em;
    color: #6b7eae;
    margin-bottom: 20px;
}

.formulario-producto label {
    display: block;
    margin-bottom: 5px;
    color: #6b7eae;
}

.formulario-producto input,
.formulario-producto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn-continuar {
    background-color: #ac8dfa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continuar:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}