.formulario-servicio {
    background-color: #f4f0fa;
    padding: 30px;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
}

.formulario-servicio h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
}

.formulario-servicio p {
    font-size: 1em;
    color: #6b7eae;
    margin-bottom: 20px;
}

.formulario-servicio label {
    display: block;
    margin-bottom: 5px;
    color: #6b7eae;
}

.formulario-servicio input,
.formulario-servicio textarea,
.formulario-servicio select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.precio-input {
    display: flex;
    align-items: center;
}

.precio-input span {
    font-size: 1.2em;
    color: #6b7eae;
    margin-right: 5px;
    margin-bottom: 20px;

}

.precio-input input {
    width: auto;
    flex-grow: 1;
}

.btn-continuar {
    background-color: #ac8dfa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continuar:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
