<div class="perfil-comprador">
    <h2>Gestión de Perfil</h2>

    <form (ngSubmit)="actualizarPerfil()">
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" [(ngModel)]="perfilComprador.nombre" name="nombre" type="text" required />
        </div>

        <div>
            <label for="direccion">Dirección de Envío</label>
            <input id="direccion" [(ngModel)]="perfilComprador.direccion" name="direccion" type="text" required />
        </div>

        <div>
            <label for="telefono">Teléfono</label>
            <input id="telefono" [(ngModel)]="perfilComprador.telefono" name="telefono" type="text" />
        </div>

        <div>
            <label for="metodosPago">Métodos de Pago</label>
            <input id="metodosPago" [(ngModel)]="perfilComprador.metodosPago" name="metodosPago" type="text"
                placeholder="Visa, MasterCard..." />
        </div>

        <div>
            <label>Preferencias de Notificación</label>
            <div class="notification-preferences">
                <div>
                    <label>Teléfonos <input type="checkbox" (change)="togglePreference('Teléfonos')" /></label>
                </div>
                <div>
                    <label>Portátiles <input type="checkbox" (change)="togglePreference('Portátiles')" /></label>
                </div>
                <div>
                    <label>Ropa <input type="checkbox" (change)="togglePreference('Ropa')" /></label>
                </div>
                <div>
                    <label>Tecnología <input type="checkbox" (change)="togglePreference('Tecnología')" /></label>
                </div>
                <div>
                    <label>Mascotas <input type="checkbox" (change)="togglePreference('Mascotas')" /></label>
                </div>
                <div>
                    <label>Alimentos <input type="checkbox" (change)="togglePreference('Alimentos')" /></label>
                </div>
            </div>
            
        </div>

        <button type="submit">Guardar Cambios</button>
    </form>
</div>