<div class="container">
  <h2>Mis productos a la venta</h2>

  <div class="actions-header">
      <button class="add-btn" [routerLink]="['/formularios/producto']">Añadir +</button>
  </div>
  <table>
      <thead>
          <tr>
              <th>IMAGEN</th>
              <th>NOMBRE</th>
              <th>PRECIO</th>
              <th>FECHA DE PUBLICACIÓN</th>
              <th>VENDIDOS</th>
              <th>ACCIONES</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let producto of productosPaginados">
              <!-- Mostrar la imagen si está disponible -->
              <td>
                  <img [src]="producto.picture ? 'data:image/jpeg;base64,' + producto.picture : 'default-image.jpg'"
                       alt="{{ producto.name }}"
                       class="product-image"
                       *ngIf="producto.picture; else noImage" />
                  <ng-template #noImage><span>No Image</span></ng-template>
              </td>
              <td>{{ producto.name }}</td>
              <td>{{ producto.price | currency: 'USD':true }}</td>
              <td>{{ producto.createdAt | date: 'dd-MMM-yyyy' }}</td>
              <td>{{ producto.sold || 0 }}</td>
              <td>
                  <ng-container *ngIf="!action">
                      <button class="edit-btn" (click)="modificarProducto(producto.productId!)">✏️</button>
                      <button class="delete-btn" (click)="eliminarProducto(producto.productId!)">🗑️ Eliminar</button>
                  </ng-container>
              </td>
          </tr>
      </tbody>
  </table>

  <!-- Controles de paginación -->
  <div class="pagination-controls">
      <button (click)="anteriorPagina()" [disabled]="paginaActual === 1">Anterior</button>
      <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
      <button (click)="siguientePagina()" [disabled]="paginaActual === totalPaginas">Siguiente</button>
  </div>

  <div class="back-btn-container">
      <button class="back-btn" (click)="goBack()">Volver a la página principal</button>
  </div>
</div>
