/* src/app/component/lista-productos/lista-productos.component.css */
.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 900px;
}

.actions-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.add-btn {
    background-color: #4AB7B6;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #005f5f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    text-align: left;
    padding: 10px;
    border-bottom: 20px solid white;
}

th {
    background-color: #CBE4E8;
    /* Color del encabezado */
    color: #71717A;
    padding: 15px 10px;
}

td {
    background-color: #cbe4e87c;
    /* Color de las celdas */
    padding: 15px 10px;
    color: #71717A;

}

.product-image {
    width: 50px;
    height: 50px;
}

.edit-btn {
    background-color: #cbe4e87c;
    /* Color de las celdas */
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #cac7bc;
}

.delete-btn {
    background-color: #FFA14F;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.back-btn-container {
    text-align: right;
}

.back-btn {
    background-color: #4AB7B6;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #5a6268;
}

.add-btn {
    background-color: #4AB7B6;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #FFA14F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
  background-color: #4AB7B6;
}

.pagination-controls span {
  margin: 0 10px;
  font-weight: bold;
}
