.formulario-evento {
    background-color: #f4f0fa;
    padding: 30px;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
}

.formulario-evento h2 {
    font-size: 1.5em;
    color: #000;
    margin-bottom: 10px;
}

.formulario-evento label {
    display: block;
    margin-bottom: 5px;
    color: #6b7eae;
}

.formulario-evento input,
.formulario-evento textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario-evento input[type="range"] {
    width: 100%;
    margin-bottom: 20px;
}

.formulario-evento input[type="datetime-local"] {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-continuar {
    background-color: #ac8dfa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continuar:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Estilos para el control de rango */
.range {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.range-slider {
    position: relative;
    height: 6px;
    background-color: #e1e1e1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.range-input input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: none;
    position: relative;
    z-index: 2;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background-color: #8bb7cf;
    border-radius: 50%;
    pointer-events: auto;
    position: relative;
    z-index: 2;
}

.range-input input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    background-color: #8bb7cf;
    border-radius: 50%;
    pointer-events: auto;
    position: relative;
    z-index: 2;
}

.range-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.range-price input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 1em;
}

.range-price label {
    font-size: 1em;
    color: #6b7eae;
}


.range-input {
    position: relative;
    width: 100%;
}

input[type="range"] {
    position: absolute;
    width: 100%;
    pointer-events: none;
}


.range-selected {
    position: absolute;
    height: 5px;
    background: #8BB7CF;
    z-index: 0;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
}