.admin-section {
    margin: auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    text-align: center; /* Centra el texto dentro de la sección */
}

.admin-buttons li {
    list-style-type: none;
    margin: 10px 0;
}

.admin-buttons button,
.admin-buttons a {
    width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
    background-color: #4AB7B6;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.admin-buttons button:hover,
.admin-buttons a:hover {
    background-color: #005f5f;
}
