body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

h3{
  font-size: 25px;
  color: #4AB7B6;
}

.categories{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para la primera sección */
.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #F9FAFB;
    width: 100%;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-left: 10%;
  }

  .buy-packages-btn {
    background-color: #4AB7B6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px; /* Botón más pequeño */
    cursor: pointer;
    width: 80%;
    margin-top: 1%;
  }

  .buy-packages-btn:hover {
    background-color: #399e9e;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin-bottom: 5px; /* Más espacio entre los ítems del menú */
    padding: 2%;
    padding-left: 8%;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-size: larger;
  }
  
  .menu ul li:hover {
    background-color: #c6a4ce;
    transform: translateX(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .menu-image{
    width: 60%; /* Cambia este valor según lo que necesites */
    height: auto; /* Mantiene la proporción de la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-image img {
    width: 75%; /* Cambia este valor según lo que necesites */
    height: auto; /* Mantiene la proporción de la imagen */
  }

  

  .see-all-vendors-btn,
  .view-all-btn,
  .view-all-button {
    background-color: #C6A4CE;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

  }

  .see-all-vendors-btn:hover,
  .view-all-btn:hover,
  .view-all-button:hover {
    background-color: #896d8f;
  }

  .centered-image img {
    width: 100%;
    height: auto;
  }

   

  /*estilos para eventos*/
  .event-section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }

  .event-section h3 {
      margin-bottom: 15px;
      color: #4AB7B6;
      font-size: 24px;
  }

  
  .event-buttons {
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
  }

  .event-buttons button {
      background-color: #4AB7B6;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }

  .event-buttons button:hover {
      background-color: #005f5f;
  }

  /* estilos para programación de publicaciones */
  .publication-section {
    margin: 40px 0;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }

  .publication-section h3 {
    margin-bottom: 15px;
    color: #4AB7B6;
    font-size: 24px;
  }

  .publication-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  .publication-buttons button {
    background-color: #4AB7B6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .publication-buttons button:hover {
    background-color: #005f5f;
  }


  /* Estilos para la sección de vendedores */
  .vendors {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas para las tarjetas */
    gap: 20px;
  }

  .vendor-card {
    background-color: #F1F2F6;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .vendor-info {
    flex: 1; /* La información del vendedor ocupa el espacio disponible */
    margin-left: 20px; /* Espacio entre la imagen y el texto */
  }

  .vendor-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .vendor-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .vendor-card button {
    background-color: #C89AEF;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .see-all-vendors-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #C89AEF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }


  /* Estilo para las categorías */
  .category-section {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Organiza los elementos en una columna */
    margin-top: 20px; /* Espaciado superior opcional */
  }

  /* Estilo para los productos más vendidos */

  .bestseller-section-head{
    display: flex;
  }

  .bestseller-section {
    margin: 40px 0;
    text-align: center; /* Centrar el texto en el contenedor */
    margin-top: 20px; /* Espaciado superior opcional */
  }

  .more-products-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .more-products-header button{
    width: 40%;
  }

  .more-products-header h3{
    width: 40%;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Ajustar el número de columnas automáticamente */
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  .product-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 95%;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 100%;
    height: 50%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
  }
  
  .product-card img:hover {
    transform: scale(1.1);
  }
  
  .product-info h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .product-info p.price {
    font-size: 1.2em;
    color: #c6a4ce;
    margin-bottom: 10px;
  }
  
  .product-info p.price span.old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
  }
  
  .product-info p.rating {
    font-size: 1.1em;
    color: #4AB7B6;
  }
  
  .centered-image {
    text-align: center;
    margin-top: 20px;
  }
  
  .centered-image img {
    width: 100%;
    max-width: 400px;
  }
  
  .more-products-section {
    text-align: start;
    padding: 20px;
  }
  
  .view-all-button {
    background-color: #896d8f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .more-products-section {
    text-align: start;
    padding: 10px;
  }

  .productos-nuevos-section { 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px;
  }

  .productos-nuevos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 productos por fila */
    gap: 20px;
    padding: 10px;
  }
  
  .productos-nuevos-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .productos-nuevos-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .productos-nuevos-image-wrapper {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
  }
  
  .productos-nuevos-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .productos-nuevos-card img:hover {
    transform: scale(1.1);
  }
  
  .productos-nuevos-info h4 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .productos-nuevos-info p.productos-nuevos-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .productos-nuevos-info p.productos-nuevos-category {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 10px;
  }
  
  .productos-nuevos-info p.productos-nuevos-sold {
    font-size: 0.9em;
    color: #999;
    margin-bottom: 10px;
  }
  
  .productos-nuevos-info p.productos-nuevos-price {
    font-size: 1.2em;
    color: #c6a4ce;
    margin-bottom: 10px;
  }
  
  .productos-nuevos-info p.productos-nuevos-price span.old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
  }
  
  .productos-nuevos-info p.productos-nuevos-rating {
    font-size: 1.1em;
    color: #4AB7B6;
  }
  
  .productos-nuevos-info p.productos-nuevos-rating span {
    color: #999;
  }
  
  .productos-nuevos-view-all-button {
    background-color: #896d8f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  

  /* seccion de nuevos productos */

  .new-products-section {
    text-align: start;
    padding: 20px;
  }

  .new-products-grid {
    display: flex;
    justify-content: space-between;
  }

  .left-product {
    flex: 1;
    margin-right: 10px; /* Reducir el margen derecho */
  }

  .right-products {
    flex: 2;
    display: flex;
    flex-direction: column;
  }

  .top-right-product {
    margin-bottom: 10px; /* Reducir el margen inferior */
  }

  .bottom-right-products {
    display: flex;
    justify-content: space-between;
  }

  .product-box {
    background-size: cover;
    background-position: center;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .small-box {
    width: 48%;
    height: 150px;
    margin-bottom: 10px; /* Agregar margen inferior para separación */
  }

  .product-info {
    color: white;
    padding: 5px; /* Reducir padding */
    width: 100%;
    text-align: center;
  }

  .product-info h4 {
    font-size: 14px;
    margin: 0;
  }

  .product-info p {
    font-size: 12px;
  }

  .service-features-section {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .service-feature {
    text-align: center;
    margin: 10px; /* Reducir margen */
  }

  .service-feature img {
    width: 50px;
    height: 50px;
  }

  .service-feature h4 {
    margin-top: 10px;
  }

  .service-feature p {
    margin-top: 5px;
    color: #666;
  }

/* General content styling */
.content {
  padding: 20px;
}

.vendor-type-section {
  text-align: center;
  margin-bottom: 20px;
}

.vendor-type-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.vendor-options {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.vendor-options label {
  font-size: 1em;
  color: #6b7eae;
}

.vendor-options input[type="radio"] {
  margin-right: 5px;
}

/* Styling for products section */
.products-section {
  text-align: center;
  margin-top: 30px;
}

.products-section h3 {
  font-size: 1.5em;
  color: #000;
  margin-bottom: 20px;
}

.product-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.action-btn {
  background-color: #8BB7CF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-decoration: none; /* Removes underline */
  display: inline-block; /* Ensures the element behaves like a button */
  text-align: center; /* Centers text inside the button */
}


.action-btn:hover {
  background-color: #6aa0b7;
}

.product-image {
  margin-top: 20px;
}

.product-image img {
  width: 200px;
  height: auto;
}
