<!-- Cuerpo de la página -->
<div class="content">

  <!-- Sección 1: Categorías y menú lateral -->
  <section class="categories">
    <div class="first-section">
      <div class="menu">
        <ul>
          <li *ngFor="let categoria of categorias" (click)="selectCategory(categoria)">{{ categoria }}</li>
        </ul> 
      </div>
      <div class="menu-image"> <img src="/assets/images/PrimeraSeccion.png" alt="Imagen de sección"> </div>
    </div>
  </section>


  <div class="content">

    <div *ngIf="isVendedor" class="vendor-menu">
      <h3>Mostrar menú de...</h3>

      <div class="vendor-options">
        <!-- Show 'Vendedor producto' if 'producto' is in tiposVendedor -->
        <label *ngIf="showProducto">
          <input type="radio" name="vendorType" value="producto" [(ngModel)]="selectedVendor" />
          Vendedor producto
        </label>

        <!-- Show 'Vendedor evento' if 'evento' is in tiposVendedor -->
        <label *ngIf="showEvento">
          <input type="radio" name="vendorType" value="evento" [(ngModel)]="selectedVendor" />
          Vendedor evento
        </label>

        <!-- Show 'Vendedor servicio' if 'servicio' is in tiposVendedor -->
        <label *ngIf="showServicio">
          <input type="radio" name="vendorType" value="servicio" [(ngModel)]="selectedVendor" />
          Vendedor servicio
        </label>

        <!-- Show 'Organización' (for publicidad) if 'publicidad' is in tiposVendedor -->
        <label *ngIf="showPublicidad">
          <input type="radio" name="vendorType" value="organizacion" [(ngModel)]="selectedVendor" />
          Organización
        </label>
      </div>

      <!-- Show this section only if a vendor type is selected -->
      <div class="products-section" *ngIf="selectedVendor">
        <h3>Mis productos :)</h3>
        <div class="product-actions">
          <!-- Producto actions -->
          <a class="action-btn" *ngIf="selectedVendor === 'producto'" [routerLink]="['/lista-productos']">Ver la lista
            de productos</a>
          <a class="action-btn" *ngIf="selectedVendor === 'producto'" [routerLink]="['/formularios/producto']">Crear
            producto nuevo</a>
          <a class="action-btn" *ngIf="selectedVendor === 'producto'" [routerLink]="['/lista-productos']"
            [queryParams]="{ action: 'modificar' }">Modificar un producto</a>
          <a class="action-btn" *ngIf="selectedVendor === 'producto'" [routerLink]="['/lista-productos']"
            [queryParams]="{ action: 'eliminar' }">Eliminar un producto</a>

          <!-- Servicio actions -->
          <a class="action-btn" *ngIf="selectedVendor === 'servicio'" [routerLink]="['/lista-servicios']">Ver la lista
            de servicios</a>
          <a class="action-btn" *ngIf="selectedVendor === 'servicio'" [routerLink]="['/formularios/servicio']">Crear
            servicio nuevo</a>
          <a class="action-btn" *ngIf="selectedVendor === 'servicio'" [routerLink]="['/lista-servicios']"
            [queryParams]="{ action: 'modificar' }">Modificar un servicio</a>
          <a class="action-btn" *ngIf="selectedVendor === 'servicio'" [routerLink]="['/lista-servicios']"
            [queryParams]="{ action: 'eliminar' }">Eliminar un servicio</a>

          <!-- Evento actions -->
          <a class="action-btn" *ngIf="selectedVendor === 'evento'" [routerLink]="['/lista-eventos']">Ver la lista de
            eventos</a>
          <a class="action-btn" *ngIf="selectedVendor === 'evento'" [routerLink]="['/formularios/evento']">Crear evento
            nuevo</a>
          <a class="action-btn" *ngIf="selectedVendor === 'evento'" [routerLink]="['/lista-eventos']"
            [queryParams]="{ action: 'modificar' }">Modificar un evento</a>
          <a class="action-btn" *ngIf="selectedVendor === 'evento'" [routerLink]="['/lista-eventos']"
            [queryParams]="{ action: 'eliminar' }">Eliminar un evento</a>

          <!-- Publicidad actions -->
          <a class="action-btn" *ngIf="selectedVendor === 'organizacion'" [routerLink]="['/lista-publicidad']">Ver la
            lista de publicidad</a>
          <a class="action-btn" *ngIf="selectedVendor === 'organizacion'"
            [routerLink]="['/formularios/publicidad']">Crear publicidad nueva</a>
          <a class="action-btn" *ngIf="selectedVendor === 'organizacion'" [routerLink]="['/lista-publicidad']"
            [queryParams]="{ action: 'modificar' }">Modificar una publicidad</a>
          <a class="action-btn" *ngIf="selectedVendor === 'organizacion'" [routerLink]="['/lista-publicidad']"
            [queryParams]="{ action: 'eliminar' }">Eliminar una publicidad</a>


          <!-- Image at the bottom of the actions -->
          <img src="./assets/images/ProductImage.png" alt="imagen de opciones " />
        </div>



      </div>
    </div>

    <!-- Sección de Eventos -->
    <div *ngIf="!isVendedor" class="event-section">
      <h3>Eventos Disponibles</h3>
      <div class="event-buttons">
        <button (click)="registrarse()">Registrarse en Eventos</button>
        <button (click)="verEventosRegistrados()">Ver Mis Eventos</button>
      </div>
    </div>

    <!-- seccion de publicaciones -->
    <div *ngIf="isVendedor" class="publication-section">
      <h3>Programación de Publicaciones</h3>
      <div class="publication-buttons">
        <button (click)="irProgramarPublicacion()">Programar Publicación</button>
      </div>
    </div>


    <!-- Sección 5: Categorías desplazables -->
    <div class="category-section">
      <div class="home-container" #categorySection> <app-lista-categorias [selectedCategory]="selectedCategory"
          (selectedCategoryChange)="selectedCategory = $event"></app-lista-categorias> </div>
    </div>


    <!-- Sección 6: Explorar más productos -->
    <section class="more-products-section">
      <div class="more-products-header">
        <h3>Productos más Vendidos:</h3>
      </div>
      <div class="products-grid">
        <div (click)="verDetalles(product.productId!)" class="product-card" *ngFor="let product of productosMasVendidos.slice(5); let i = index" >
          <a [routerLink]="['/producto-detalle', product.productId]">
            <img [src]="'data:image/jpeg;base64,' + product.picture" alt="{{product.name}}">
          </a>
          <div class="product-info">
            <h4>{{product.name}}</h4>
            <p class="price">
              ${{product.price | number: '1.2-2'}} <span class="old-price"
                *ngIf="product.price">{{calculateOldPrice(product.price) | number: '1.2-2'}}</span>
            </p>
            <p class="rating">
              {{calculateStars()}} estrellas
            </p>
          </div>
        </div>
      </div>
      <div class="centered-image">
        <img src="./assets/images/SegundaSeccion.png" alt="Imagen centrada">
      </div>
    </section>

    <!-- Sección 7: Productos más vendidos -->
    <section class="productos-nuevos-section">
      <h3>Explora más Productos</h3>
      <div class="productos-nuevos-section-head">
        <!-- Añadimos un encabezado si es necesario -->
      </div>
      <div class="productos-nuevos-grid">
        <div (click)="verDetalles(product.productId!)" class="productos-nuevos-card" *ngFor="let product of productosMasVendidos.slice(0, 5); let i = index">
          <a [routerLink]="['/producto', product.productId]">
            <div class="productos-nuevos-image-wrapper">
              <img [src]="'data:image/jpeg;base64,' + product.picture" alt="{{product.name}}">
            </div>
          </a>
          <div class="productos-nuevos-info">
            <h4>{{product.name}}</h4>
            <p class="productos-nuevos-description">{{product.description}}</p>
            <p class="productos-nuevos-category">Categoría: {{product.category}}</p>
            <p class="productos-nuevos-sold">Vendidos: {{product.sold}}</p>
            <p class="productos-nuevos-price">
              ${{product.price | number: '1.2-2'}} <span *ngIf="product.currency">{{product.currency}}</span>
            </p>
            <p class="productos-nuevos-rating">
              {{calculateStars()}} estrellas
            </p>
          </div>
        </div>
      </div>
      <a (click)="selectCategory('')" class="view-all-button">Ver todos los productos</a>
    </section>


    <!-- Sección 8: Características del servicio -->
    <div class="service-features-section">
      <div class="service-feature" *ngFor="let feature of serviceFeatures">
        <img [src]="feature.icon" alt="{{ feature.title }}">
        <h4>{{ feature.title }}</h4>
        <p>{{ feature.content }}</p>
      </div>
    </div>

  </div>