/* Configuración general para que el footer se mantenga en la parte inferior */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* Ocupa el espacio disponible, empujando el footer hacia abajo */
    display: flex;
    flex-direction: column;
}