<div class="historial-compras">
    <h2>Historial de Compras</h2>
    <div *ngFor="let producto of historialProductos" class="producto">
        <img [src]="producto.picture" alt="Imagen del producto" class="producto-imagen" />
        <div class="producto-info">
            <h3>{{ producto.name }}</h3>
            <p>{{ producto.description }}</p>
            <p><strong>Precio:</strong> {{ producto.price }} {{ producto.currency }}</p>
            <p><strong>Categoría:</strong> {{ producto.category }}</p>
        </div>
    </div>
</div>
